# Ambientes Virtuais e Cache de Python
.venv/
__pycache__/
*.pyc

# IDEs e Ferramentas
.vscode/*
!.vscode/settings.json
!.vscode/mcp.json
.idx/
.idea/

# Testes
.pytest_cache/
.coverage
htmlcov/

# Logs do sistema
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
infra/terraform/tfplan*

# Variáveis de Ambiente e Segredos
.env
.env.local
